.item--info2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(128, 128, 128, 0.085);
    background-color: rgba(128, 128, 128, 0.093);
}

.item--info2 h3 {
    margin: 10px;
    font-weight: 600;
}

.cart--item {
    margin-bottom: 50px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.077);
    border-radius: 5px;
    padding: 1%;
    width: 98%;
}

.cart {
    margin: 150px auto 100px auto;
    width: 80%;
    padding: 0px;
    
    
}

.row h2:first-child {
    text-transform: uppercase;
}

.cart .row {
    background-color: #fffbf5;
    justify-content: center;
    width: 100%;
    display: flex;

}

.cart .column {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    border-radius: 5px;
    margin: 1vw;
    width: 50%;
    padding: 2vw;
;
}

.cart--item--row {
    text-align: left;
    line-height: 10px;
    display: grid;
    grid-template-columns: 150px auto;
    border: 1px solid rgba(128, 128, 128, 0.093);
    gap: 0.5vw;
}


.cart--description {
    margin-top: auto;
    margin-bottom: auto;
}

.cart--item--row img {
    width: 100%;
    object-fit: cover;
}

.summary--info {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    border-radius: 5px;

    
}

.summary--info p{
    margin: 0px;
    padding: 0.5vw;
    padding-left: 1vw;
    border: 0.01em solid rgba(128, 128, 128, 0.089);
}


.cart--total {
    margin: auto;
    margin-top: 5vw;
}



@media only screen and (max-width: 880px) {
    .cart .row{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        margin: 0px;
    }

    .cart .column {
        width: 100%;
        margin: 0px;
        justify-content: center;
        }

    .cart {
        padding: 0px;
        margin: auto;
        margin-top: 150px;
        width: 90%;
    }
    
    p {
        font-size: 12px;
    }

    .cart--item {
        padding: 0px;
        width: 100%;
    }


}

