.cart--prompt {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    width: 300px;
    right: 3vw;
}

.cart--prompt .image img {
    width: 8vw;
    height: auto;
}


.cart--item--row {
    display: grid;
    grid-template-columns: 9vw auto;
}

.cart--item h1 {
    font-size: 20px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.026);
    padding: 0.5vw 0 0.5vw 0;
    box-shadow: rgba(148, 148, 148, 0.096) 0px 1px 4px;
    background-color: rgba(119, 119, 119, 0.13);
    margin: 0px;
}

.cart--item h2 {
    position: relative;
    top: 0.5vw;
    text-align: left;
    font-size: 15px;
    font-weight: 200;
}

.cart--item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.077);
    padding: 0vw;
}


.cart--button {
    text-align: center;
    margin: auto;
    padding: 1vw;
}

.cart--size {
    left: 60%;
    bottom: 70%;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    color: black;
    height: 20px;
    padding: 3px;
    background: #de2626df;
    text-align: center;
    font: 20px Arial, sans-serif;
}
