.filter--menu {
    position: relative;
    top: 200px;
    width: 300px;
    background-color:rgba(0, 0, 0, 0.053);
    text-align: left;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    height: 1100px;
    margin-right: 2vw;
}

.menu h2 {
  font-size: 20px;
}

.company {
  display: flex;
  justify-content: left;
  margin: 0 5px;
}

.filter, .categories {
  margin: 20px;
}

.filter--choices {
  background-color: white;
  width: 100%;
  border-radius: 3px;
  line-height: 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.dropdown-btn {
  background-color: white;
  color: black;
  width: 100%;
  border-radius: 3px;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

}


.dropdown-container {
  display: grid;
}

.dropdown-container a {
  padding: 5px 10px;
  margin: 5px 0px 5px 15px;
  border-radius: 3px;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.filter-btn {
  display: none;
}

.config--bar .search--bar {
  display: none;
}

@media only screen and (max-width: 1000px) {

  .filter--menu {
    top: 120px;
    width: 100%;
}
}

@media only screen and (max-width: 780px) {
  .filter--menu {
    top: 120px;
    width: 100%;
}
}

@media only screen and (max-width: 580px) {

  .filter--menu {
    top: 120px;
    padding: 0vw;
    margin: auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 100%;
    height: auto;
}

.filter-btn {
  position: relative;
  top: 2px;
  display: flex;
  height: 36px;
  border-radius: 0px;
  border: 1px solid #0000001f;
  background-color: white;
}

.config--bar {
  display: flex;
  width: 100%;
  grid-template-columns: auto auto;
}

.config--bar .search--bar {
  display: inline;
  width: 100%;
}

.search--bar input {
  width: 100%;
  height: 100%;
  border: none;
}
}

