

.item--info {
    display: grid;
    grid-template-columns: 50% 50%;
}

.item--info1 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 5px;
}



.item--info1 p {
    border: 0.01em solid rgba(128, 128, 128, 0.089);
    margin: 0px;
}

.p--col {
    background-color: rgba(128, 128, 128, 0.093);
    font-weight: 500;
}

.product--calculations .item--info1 p {
    padding: 5px;
    padding-left: 15px;
}

.product--calculations .item--info  {
    border-radius: 5px;
}
