#root {
  text-align: center;
  width: 100%;
}

.main {
  display: grid;
  grid-template-columns: max-content auto;
  max-width: 1300px;
  margin: auto;
}

@media only screen and (max-width: 480px) {

  .main {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  }

}


@media only screen and (max-width: 1000px) {
  


}
