.product {
    padding: 3vw;
    border-radius: 5px;
    margin: auto;
    font-size: 10px;
    text-align: left;
    width: 50vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    border-radius: 5px;
    margin-top: 200px;

}

.product h1 {
  margin-top: 0px;
  margin-left: 1vw;
}

.product--row {
    display: grid;
    grid-template-columns: auto auto;

}

.product--description img{
    width: 25vw;
    
}


.product--pricing {
    background-color: rgba(0, 0, 0, 0.053);
    border-radius: 10px;
    padding: 2vw;
    border: 1px solid rgba(128, 128, 128, 0.142);
}

.product--pricing h3 {
    margin: 0;
    font-weight: 300;
    font-size: 30px;
  }

.product--pricing p:first {
    line-height: 0px;
}
  
  .product--pricing h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .product--pricing p {
    font-size: 16px;
    margin-bottom: 10px;
  }


  
  .product--pricing span {
    font-weight: bold;
  }
  

  .product--calculated {
    width: 100%;
    justify-content: space-between;
  }

  .product--calculations {
    margin-top: 3vw;
    font-size: 18px;
  }

  .product--calculations h2{
    margin-left: 2vw;
    font-size: 20px;
    font-weight: 400;
  }

  .description--table {
    display: grid;
    grid-template-columns: 6vw 19vw;
  }

  .product--description p{
    margin: 0px;
    font-size: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.204);
  }